@model IEnumerable<Learning_Content_Models.Models.Message>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
	@foreach (var item in Model)
	{
		<div class="col search">
			<div class="card shadow-sm">
				<div class="card-body">
					<h3 class="card-text name">@item.Text</h3>
					<p class="card-text">Изпратено от: @item.Receiver</p>
					<p class="card-text">@item.Status</p>
					<!-- Add other fields as needed -->
					<div class="d-flex justify-content-between align-items-center">
						<div class="btn-group">
							<form asp-action="Delete" asp-route-id="@item.Id" method="post" onsubmit="return confirm('Are you sure you want to delete this Message?');">
								<button type="submit" class="btn btn-danger">Delete</button>
							</form>
							<p class="date">@item.SendDate.ToString("dd/MM/yyyy")</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	}
</div>
<a asp-action="Add" asp-controller="Messages" class="btn btn-success">
	Add New Message
</a>
