@page
@model RegisterModel

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            margin-top: 50px;
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            border-radius: 10px;
        }

        .card-body {
            padding: 30px;
        }

        .form-floating {
            margin-bottom: 20px;
        }

        h1 {
            text-align: center;
            margin-bottom: 30px;
        }

        .btn-register {
            width: 100%;
        }

        .external-services {
            text-align: center;
        }

        .external-services button {
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h1>@ViewData["Регистрирай потребител"]</h1>
                        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                            <div class="form-floating">
                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                <label asp-for="Input.Email">Имейл</label>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-floating">
                                <input asp-for="Input.Name" class="form-control" autocomplete="name" aria-required="true" placeholder="Name" />
                                <label asp-for="Input.Name">Потребителско име</label>
                                <span asp-validation-for="Input.Name" class="text-danger"></span>
                            </div>
                            <div class="form-floating">
                                <input asp-for="Input.FirstName" class="form-control" autocomplete="name" aria-required="true" placeholder="First Name" />
                                <label asp-for="Input.FirstName">Собствено име</label>
                                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-floating">
                                <input asp-for="Input.LastName" class="form-control" autocomplete="name" aria-required="true" placeholder="Last Name" />
                                <label asp-for="Input.LastName">Фамилно име</label>
                                <span asp-validation-for="Input.LastName" class="text-danger"></span>
                            </div>
                            <div class="form-floating">
                                <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="name" aria-required="true" placeholder="First Name" />
                                <label asp-for="Input.PhoneNumber">Телефонен номер</label>
                                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="form-floating">
                                <input asp-for="Input.Desciption" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Description" />
                                <label asp-for="Input.Desciption">Описание</label>
                                <span asp-validation-for="Input.Desciption" class="text-danger"></span>
                            </div>
                            <div class="form-floating">
                                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password" />
                                <label asp-for="Input.Password">Парола</label>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-floating">
                                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm Password" />
                                <label asp-for="Input.ConfirmPassword">Потвърди парола</label>
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            @if (User.IsInRole("Admin"))
                            {
                                <div class="form-floating">
                                    <select asp-for="Input.Role" class="form-control" autocomplete="role" aria-required="true">
                                        <option value="">Избери роля</option>
                                        <option value="Teacher">Учител</option>
                                        <option value="Student">Ученик</option>
                                    </select>
                                    <label asp-for="Input.Role">Роля</label>
                                    <span asp-validation-for="Input.Role" class="text-danger"></span>
                                </div>
                            }
                            <button id="registerSubmit" type="submit" class="btn btn-primary btn-register">Регистрирай</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <div class="card mt-4">
                    <div class="card-body">
                        <h3>Use another service to register.</h3>
                        <hr />
                        <div class="external-services">
                            @if ((Model.ExternalLogins?.Count ?? 0) == 0)
                            {
                                <p>There are no external authentication services configured.</p>
                            }
                            else
                            {
                                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                    <p>
                                        @foreach (var provider in Model.ExternalLogins!)
                                        {
                                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                        }
                                    </p>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
