@model List<ApplicationUser>

@{
	ViewData["Title"] = "User Index";
}

<h1>User Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Movies</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>@user.Description</td>
                <td>@user.Messages</td>
                <td>@user.PhoneNumber</td>
                <td>@user.UserName</td>
            </tr>
        }
    </tbody>
</table>